<div class="bg" style="background:#43A047 ; height:300px; position:static"></div>
<p-growl [(value)]="msgs" [immutable]="false" life="3000"></p-growl>

<div class="row" style="position: relative; top: -130px;">
   <div class="col-md-12">
      <div class="forgot-password-page" [@growAnimate]="">
         <div class="" style="text-align:center; padding-bottom: 40px;">
            <h2 class="forgot-password-title">Forgot Password</h2>
         </div>

         <form #forgotPasswordForm="ngForm" (ngSubmit)="onSend(forgotPasswordForm.value)">
            <div class="form-group">
               <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Email" autocomplete="false"
                  required />

            </div>
            <div class="form-group">
               <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-lg btn-warning btn-block">{{ btnResetText }}</button>
            </div>
            <div style="text-align: center">
               <a *ngIf="!isLogin" routerLink="/login" class="btn btn-link">Back to login</a>
               <a *ngIf="isLogin" (click)="onBack()" class="btn btn-link">Back</a>
            </div>
         </form>
      </div>
   </div>
</div>